<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="css/main.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <header>
      <a href="/">Home</a>
      <a href="/addarticles">Add article</a>
      <a href="/profile">Profile</a>
      <a href="/signout">SignOut</a>
    </header>

    <section class="feed-container">
      <div class="feed-box">
        <% feed.forEach((f) => { %>
        <article style="border: 1px solid black; padding: 10px">
          <div style="padding: 5px; border: solid 1px rgb(131, 131, 131)">
            <a style="color: blue" href="/article/<%=f.id %>" /><%= f.title %></a>
          </div>
          <div style="padding: 5px"><%= f.description %></div>

          <div>
            <button onclick="upVote('<%=f.id%>')" style="color: #22c55e">
              <span class="material-symbols-outlined"> thumb_up </span>
              <div><%= f.upvotes.length %></div>
            </button>
            <button onclick="downVote('<%=f.id%>')" style="color: #ef4444">
              <span class="material-symbols-outlined"> thumb_down </span>
              <div><%= f.downvotes.length %></div>
            </button>
          </div>
          <div style="padding: 5px;"><%= f.tags %></div>
        </article>
        <% }) %>
      </div>
    </section>


    <script>
      const upVote = (id) => {
        try{
          fetch(`/api/v1/article/${id}?action=upvote`, { method: 'PUT'}).then((res) => {
            if(res.status === 200){
              location.reload()
            }
          });
        } catch(err) {
          throw err;
        }
      }

      const downVote = (id) => {
        try{
          fetch(`/api/v1/article/${id}?action=downvote`, { method: 'PUT'}).then((res) => {
            if(res.status === 200){
              location.reload()
            }
          });
        } catch(err) {
          throw err;
        }
      }
    </script>
   
  </body>
</html>
